
 body{text-align:center}
  #tabla_equipos{width:100%; height=100%}
  #L14{background:url(imagenes/balon.jpg)}
  #L20{color:blue}
  #L21{text-decoration:underline}
  #L28{background-color:azure}
  #L29{font-size:2em ; color:black}
  #L30{font-style:italic}
  #L39{text-decoration:underline}
  div{height:em}
  #L59{text-decoration:underline}
  #L73{text-decoration:underline}
  #imagen_equipos{width:70%}
  #L98{background-color:azure}
  #L99{font-size:2em ; color:black}
  #L100{font-style:italic}
  
   
